---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.orcid %}
  <div class="wordwrap"><p>You can find all of my peer-reviewed published articles through <a href="{{site.author.orcid}}">my ORCID</a>.</p></div>
{% endif %}

{% if site.author.orcid %}
  <div class="wordwrap"><p>For a full list, including non-refereed reports, check out my CV (see above!).</p></div>
{% endif %}

<div class="wordwrap"><p>I was also a writer for <a href="{{https://astrobites.org}}">Astrobites</a>: you can see all of my blog posts <a href="{{https://astrobites.org/author/elewis/}}">here</a>!</p></div>
