---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.orcid %}
  <div class="wordwrap">You can find all of my peer-reviewed published articles through <a href="{{site.author.orcid}}">my ORCID</a>.</div>
{% endif %}

{% if site.author.orcid %}
  <div class="wordwrap">For a full list, including non-refereed reports, check out my CV (see above!).</div>
{% endif %}

<div class="wordwrap">I was also a writer for <a href="{{https://astrobites.org}}">Astrobites</a>: you can see all of my blog posts <a href="{{https://astrobites.org/author/elewis/}}">here</a>!</div>
